set_io clk_100 15
set_io btn[0] 41
set_io btn[1] 42
set_io led[0] 40
set_io led[1] 51
set_io vga_r[0] 24
set_io vga_r[1] 19
set_io vga_r[2] 18
set_io vga_g[0] 27
set_io vga_g[1] 26
set_io vga_g[2] 25
set_io vga_b[0] 30
set_io vga_b[1] 29
set_io vga_b[2] 28
set_io vga_hs 33
set_io vga_vs 34
set_io ps2_clk 37
set_io ps2_data 36
set_io sram_addr[0] 79
set_io sram_addr[1] 80
set_io sram_addr[2] 81
set_io sram_addr[3] 82
set_io sram_addr[4] 83
set_io sram_addr[5] 85
set_io sram_addr[6] 86
set_io sram_addr[7] 87
set_io sram_addr[8] 89
set_io sram_addr[9] 90
set_io sram_addr[10] 91
set_io sram_addr[11] 93
set_io sram_addr[12] 94
set_io sram_addr[13] 95
set_io sram_addr[14] 96
set_io sram_addr[15] 97
set_io sram_addr[16] 99
set_io sram_addr[17] 100
set_io sram_data[0] 62
set_io sram_data[1] 63
set_io sram_data[2] 64
set_io sram_data[3] 65
set_io sram_data[4] 66
set_io sram_data[5] 68
set_io sram_data[6] 69
set_io sram_data[7] 71
set_io sram_data[8] 72
set_io sram_data[9] 60
set_io sram_data[10] 59
set_io sram_data[11] 57
set_io sram_data[12] 56
set_io sram_data[13] 54
set_io sram_data[14] 53
set_io sram_data[15] 52
set_io sram_cs 78
set_io sram_oe 74
set_io sram_we 73
